@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --orange: #ee8133;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
    --border:1rem solid rgba(0,0,0,0.1);
    --outline:1rem solid rgba(0,0,0,0.1);
    --outline-hover: .2rem solid var(--black);

}
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    transition: all 0.2s;
    text-decoration: none;
}
body{
    background: #eee;
    
}
html{
    font-size:62.5%;
}
section{
    padding: 2rem 9%;
}
.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 5%;
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 100%;
    /* overflow: hidden; */
    z-index: 1000;

}
.header .logo{
height: 47px;
width: 147px;
cursor: pointer;
}
header nav a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}
header nav a:hover{
    color: var(--orange);
}
header .icons i{
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}
header .icons i:hover{
    background-color: var(--orange);
}
#menu-icon{
    display: none;
}
header .search-form{
    position: absolute;
    top: 110%;
    width: 50rem;
    right: -110%;
    overflow: hidden;
    background-color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .search-form.active{
    right: 2rem;
    transition: .4s linear;

}
header .search-form input{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0.7rem 1.7rem;
}

header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;   
}
header .search-form label:hover{
    color: var(--orange);
}
header .shopping-cart{
position: absolute;
top: 110%;
padding: 1rem;
right: -110%;
border-radius: 0.5rem;
box-shadow: var(--box-shadow);
width: 30rem;
background: #fff;
}
header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    
}
header .shopping-cart .box img{
    width: 11rem;
    height: 8rem;
}
header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
header .shopping-cart .box .fa-trash:hover{
    color: var(--orange);
}
header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom:0.5rem ;
}
header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.4rem;
   
}
header .shopping-cart .box .content .quantity{
   padding-left: 1rem;
}
header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);    
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    text-decoration: none;
    background: none;
    font-weight: 400;

}
.btn:hover{
    background-color: var(--orange);
    color: white;
}
header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}
header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;

}
header .login-form{
position: absolute;
top: 110%;
padding: 2rem;
right: -110%;
border-radius: 0.5rem;
box-shadow: var(--box-shadow);
width: 30rem;
background: #fff;
text-align:center;
}
header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    padding-bottom: 1.5rem;
}

header .login-form .box{
    margin: .7rem 0;
    background: #eee;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    border: none;
    margin-bottom: 2rem;
}
header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}
header .login-form p a{
    color: var(--orange);
    text-decoration: underline;
}
header .login-form .btn{
    margin: 2rem 0;
}
header .login-form.active{
    right: 2rem;
    transition: .4s linear;

}

header nav.active{
    right: 2rem;
    transition: .4s linear;

}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(banner.avif);
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    position: relative;
    z-index: 0;
    margin-bottom: 1rem;
}
.home .content{
    text-align: center;
    width: 80rem;
}
.home .content h3{
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2.5rem;
}
.home .content h3 span{
    color: var(--orange);
}
.home .content p{
    color: var(--black);
    font-size: 2.0rem;
    padding: 1rem;
    line-height: 2.5rem;
    padding-bottom: 2.5rem;
    font-weight: 400;
}
.home .content .btn{
    margin-top: 2rem;
    border: .2rem solid var(--orange);
    color: var(--black);
    font-weight: 500;
}
/* .heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom:3rem;
    font-size: 3.5rem;
    color: var(--black);
    cursor: pointer;
}
.heading span{
    background: var(--orange);
    color: white;
    padding: .4rem;
    border-radius: 0.8rem;
} */
.box-container .box img{
    width: 200px;
    height: 190px;
}
.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    text-align: center;

}
.features .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img{
    margin: 1rem 0;
}
.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem;
}
.products-img{
    width: 200px;
    height: 180px;
}
.products .product-slider{
    padding: 1rem;
}
.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}
.products .product-slider .box h3{
    font-size: 2.5rem;
    color: var(--black);
}
.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}
.products .product-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--orange);
    padding: .5rem 0;
}
.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 1.5rem;
    text-align: center;
}
.categories .box-container .box{
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    margin-top: 2rem;
}
.categories .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}
.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;

}

.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
   
}
.review .review-slider{
    padding: 1rem;
}
.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.review .review-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    padding: 1rem 0;
    color: var(--black);
    font-size: 2.2rem;
}
.review .review-slider .box .stars i{
    color: var(--orange);
    font-size: 1.5rem;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 1.5rem;
    text-align: center;
}
.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    margin-top: 2rem;

}
.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid lightgray;
}
.blogs .box-container .box .content h3{
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 0;
}
.blogs .box-container .box .content p{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
    text-decoration: none;
}
.blogs .box-container .box .content .icons a i{
    color: var(--orange);
    padding-right: .5rem;
}


/* ------------------------------ */

h1{
    line-height: 0.5;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    padding-bottom: 3rem;
  }
  h1 span {
    display: inline-block;
    position: relative;  
    background-color: #eee;
    
  }
  h1 span:before,
  h1 span:after {
    content: "";
    position: absolute;
    height: 15px;
    
    border-top: 3px solid var(--orange);
    top: 5px;
    width: 150px;
  }
  h1 span:before {
    right: 100%;
    margin-right: 15px;
  }
  h1 span:after {
    left: 100%;
    margin-left: 15px;
  }
.footer{
    background: #fff;
    margin-top: 2rem;

}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 1.5rem;
    text-align: center;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--orange);
}
.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box .links i{
    color: var(--orange);
    padding-right: .5rem;
}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}
.footer .box-container .box p{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 2rem 0;
}
.footer .box-container .box .flogo{
    width: 9rem;
    height: 5rem;
    margin-top: 1rem;
}
.footer .box-container .box .share{
    padding-top: 1rem;
}
.footer .box-container .box .share i{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 4rem;
    font-size: 2rem;
    color: var(black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share i:hover{
    color: var(--orange);
    background: #eee;
}
.footer .box-container .box .email{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    border: 1px solid black;

}
.footer .box-container .box .email:hover{
     outline: none;
}

.footer .box-container .box .payment-img{
    margin-top: 1rem;
    height: 3rem;
    width: 7rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top:2.5rem ;
    font-size: 1.7rem;
    color: var(--black);
    border-top: 2px solid lightgrey;
}
.footer .credit span{
    color: var(--orange);


}





/* -------Media Queries-------- */



@media (max-width:971px) {

    html{
        font: 55%;
    }
    
}
@media (max-width:921px) {

    #menu-icon{
        display: inline-block;
    }

    .header nav{
        position: absolute;
        top: 110%;
        right: -110%;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        padding: 0;
    }
    .header nav a{
        font-size: 1.5rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    header .search-form{
        width: 90%;
    }
    section{
        padding: 2rem;
    }
    
}
@media (max-width:450px) {

    html{
        font: 50%;
    }
    .header{
        padding: 2rem;
    }
    .footer{
        text-align: center;
    }
    
}
@media (max-width:386px) {

    .header .logo{
        height: 37px;
        width: 107px;
        cursor: pointer;
        }
    
}